/* ==========================================
            GENERAL
========================================== */

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

background:#111;

color:#fff;

}

/* ==========================================
            NAVBAR
========================================== */

.navbar{

background:#000 !important;

padding:15px 0;

box-shadow:0 8px 20px rgba(0,0,0,.35);

}

.navbar-brand{

font-size:30px;

font-weight:700;

}

/* ==========================================
            TITLE
========================================== */

h2{

font-weight:700;

}

/* ==========================================
            FORM
========================================== */

.card{

border:none;

border-radius:20px;

box-shadow:0 15px 30px rgba(0,0,0,.35);

}

.form-control,
.form-select{

height:50px;

border-radius:12px;

border:none;

}

textarea.form-control{

height:auto;

resize:none;

}

.form-control:focus,
.form-select:focus{

box-shadow:0 0 10px rgba(255,193,7,.35);

}

/* ==========================================
            BUTTON
========================================== */

.btn-warning{

font-weight:600;

height:50px;

border-radius:12px;

}

/* ==========================================
            TABLE
========================================== */

.table{

margin-top:30px;

border-radius:15px;

overflow:hidden;

}

.table thead{

background:#ffc107;

color:#111;

}

.table tbody tr{

transition:.3s;

}

.table tbody tr:hover{

background:#222;

}

/* ==========================================
            IMAGE
========================================== */

.food-img{

width:70px;

height:70px;

border-radius:12px;

object-fit:cover;

border:2px solid #ffc107;

}

/* ==========================================
            STATUS
========================================== */

.badge{

padding:8px 15px;

font-size:14px;

}

/* ==========================================
            ACTION BUTTONS
========================================== */

.btn-sm{

margin-right:5px;

border-radius:8px;

}

/* ==========================================
            RESPONSIVE
========================================== */

@media(max-width:768px){

.table{

font-size:14px;

}

.food-img{

width:55px;

height:55px;

}

}